*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root
{
  --mainColor: #FF4B2B;
  --secondaryColor: #FF416C;
}

body
{
  overflow-x: hidden;
}

.App {
  text-align: center;
  margin-top: 70px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.formError
{
  color: red;
  margin: 0;
  padding: 0;
}

.rowFlex
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#gridFlex
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 80px;
}

#viewToggler
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#viewToggler h3:hover{
	cursor: pointer;
}

.colFlex
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#messageBubble
{
	background: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1501;
}


#messageBubble:hover{
	cursor: pointer;
}

#bioSlide
{
	transition-duration: .3s;
	transition-timing-function: linear;
	transition-property: all;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 40vw;
	z-index: 10000000;
	box-shadow: 0 0 20px gray;
	background: white;
}

#profileMap
{
	width: 600px;
	height: 400px;
}

#searchPage
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#searchMap
{
	position: fixed;
	top: 0;
	left: 0;
	width: 50vw;
	height: 100vh;
	overflow: hidden;
}

#searchBar
{
	position: fixed;
	top: 70px;
	right: 0;
	width: 100vw;
	height: 50px;
	padding: 10px;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: row;
	background: white;
	padding: 20px;
	z-index: 999;
}

#searchBar input{
	width: 100px;
	padding: 8px;
}

#bigListing
{
	position: absolute;
	top: 0;
	right: 0;
	width: 50vw;
	min-height: 100vh;
	margin-top: 70px;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 20px;
}

#sideToggle
{
	position: absolute;
	top: 0;
	right: 0;
	width: 50vw;
	min-height: 100vh;
	margin-top: 120px;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 20px;
}

#profilePage{
	margin-top: 70px;
}


#starBar{
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	width: 100%;
}


#listingBox
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000000;
	height: 1000px;
	width: 200px;
	background: white;
}

.listing
{
	width: 90%;
	height: 300px;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
	
}

.profileBig
{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	box-shadow: 0 0 20px gray;
}

.mainPicture
{
	width: 100%;
}

.toaster
{
	margin: 10px;
	height: 100px;
	width: 300px;
	background: white;
	box-shadow: 0 0 12px gray;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	gap: 10px;
}
#toasterBlock
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#toastBlock p
{
	margin: 0;
	padding: 0;
	color: black;
}

.toaster p {
	margin: 0;
	padding: 0;
}

.toaster:before{
	position: absolute;
	left: -15px;
	background: #61dafb;
	width: 2px;
	height: 100%;
	border-radius: 5px;
	content: '';
}

.toastIcon
{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

#toastBar
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0px;
	right: 20px;
	height: fit-content;
	padding: 20px 0;
	z-index: 1500;
}

#alarmBell
{
	margin: 10px;
}

  .mySlides{
	height: 100%;
	width: 100%;
  }

  #rooter
  {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
  }

  svg:hover{
	cursor: pointer;
  }

  #slideshow-container svg
  {
	position: absolute;
	top: calc(150px - 12px);
  }

  #slideshow-container svg:nth-of-type(2)
  {
	right: 10px;
  }

  #slideshow-container svg:nth-of-type(1)
  {
	left: 10px;
  }
  
  /* Hide the images by default */

  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }

  .btn
  {
	background: var(--mainColor);
	font-size: 22px;
	color: white;
	padding: 2px 5px;
	border-radius: 3px;
	border: none;
	box-shadow: 0 0 5px gray;
  }

  #profileIcon
  {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	box-shadow: 0 0 8px gray;
	padding: 0;
  }

  #btnRow{
	margin-left: auto;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

nav
{
	position: fixed;
	top: 0;
	left: 0;
  width: 100vw;
  height: 70px;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid gray;
  z-index: 1000;
  padding: 0 30px;
}

nav *
{
	padding: 8px;
}

#notifications
{
	position: fixed;
	top: 70px;
	right: 0;
	z-index: 1502;
	box-shadow: 0 7px 8px gray;
	background: white;
	width: 300px;
	height: 300px;
	overflow-y: scroll;
}

.notification
{
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid gray;
	gap: 15px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;

	width: 100vw;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p{
	margin: 10px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	z-index: 110;
	margin: 10px;
}

button:hover{
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.containerMe {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav p{
  color: var(--mainColor);
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

.containerMe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin: auto;
}

.container
{
	max-height: 500px;
	overflow-y: scroll;
}

.rounded-circle{
	box-shadow: 0 0 15px gray;
}

.card{
	box-shadow: 0 0 15px gray;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 900px;
	
}

.card-body{
	width: 100%;
}

.myCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  margin: 10px;
  padding: 0;
}

.myCard p{
	padding: 0;
	margin: 0;
}
button{
	margin: 0;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 0;
}
.card-body-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 250px;
  padding: 20px;
}
.tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #92d4e4;
}
.tag-purple {
  background-color: #3d1d94;
}
.tag-pink {
  background-color: #c62bcd;
}
.card-body-me h4 {
  margin: 10px 0;
}
.card-body-me p {
  font-size: 14px;
  margin: 0 0 40px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}
@media (max-width: 940px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

#slideshow-container {
	width: 100%;
	height: 300px;
	position: relative;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }