#fullChat
{
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 15px gray;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fullChat textarea
{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 70px;
  padding: 10px;
  border: none;
  background: rgb(226, 226, 226);
}

#fullChat #topBar
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 50px;
  background: rgb(226, 226, 226);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#wrapper{
  height: 100%;
  width: 100%;
}

#fullChat button{
  position: absolute;
  bottom: 0;
  right: 0;
}


#chatSection
{
  height: 300px;
  width: 100%;
  background: white;
}
