#customPaymentBlock
{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    flex-direction: column;
}